<div id="hanami2" class="text-xs-center">
  <div class="container">
    <div class="row">
      We have just released <strong>Hanami 2.2</strong>!

      Read the <a href="/blog/2024/11/05/hanami-220/">announcement</a>.
    </div>
  </div>
</div>
